<div id="<%= dom_id person %>" class="card h-100">
  <div class="card-body">
    <h2 class="h5 card-title mb-3">
      <%= [person.first_name, person.last_name].compact.join(" ") %>
    </h2>

    <dl class="row mb-0">
      <dt class="col-sm-4">First name</dt>
      <dd class="col-sm-8"><%= person.first_name %></dd>

      <dt class="col-sm-4">Last name</dt>
      <dd class="col-sm-8"><%= person.last_name %></dd>

      <dt class="col-sm-4">Birth date</dt>
      <dd class="col-sm-8"><%= person.birth_date %></dd>
    </dl>
  </div>
</div>
