<% content_for :title, "People" %>

<div
  data-controller="bulk-actionable"
  data-bulk-actionable-controller-path-value="<%= people_path %>"
  data-bulk-actionable-total-items-value="<%= bulk_action_total_items %>"
  data-bulk-actionable-selected-items-value="<%= bulk_action_item_ids.to_a.to_json %>">

  <div class="row g-2">
    <div class="col-12 col-md-6 d-flex align-items-end gap-3 justify-content-md-start justify-content-between">
      <h1 class="h2 mb-0 fw-bold">
        <i class="bi bi-people me-2 text-primary fs-3"></i>
        People
      </h1>
      <%= link_to new_person_path, class: "btn btn-primary btn-sm", 'data-bulk-actionable-target': "hideWhenSelected" do %>
        <i class="bi bi-plus-circle me-1"></i>
        New Person
      <% end %>

    </div>

    <div class="col-12 col-md-6 d-flex gap-2 justify-content-end" data-bulk-actionable-target="hideWhenSelected">
      <%= search_form_for @q, class: "w-100" do |f| %>
        <div class="input-group">
          <%= f.search_field :full_name_cont, class: "form-control", placeholder: "Search people..." %>
          <button class="btn btn-primary" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row g-2 px-2 mt-1 mb-2">
    <div class="col-12 col-md-2 form-check mb-0 py-1">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="people-main-checkbox"
        data-bulk-actionable-target="mainCheckbox"
        data-action="click->bulk-actionable#toggleMainCheckbox">
      <label class="form-check-label text-muted small" for="people-main-checkbox">
        Select page
      </label>
    </div>

    <div class="col-12 col-md-10 d-flex flex-wrap gap-2 d-none justify-content-md-end justify-content-between pe-0" data-bulk-actionable-target="showWhenSelected">
      <div class="align-self-center d-flex align-items-center gap-2 small text-muted">
        <i class="bi bi-check2-square text-primary"></i>
        <span>
          selected
          <span id="selected-counter" data-bulk-actionable-target="selectedCount"><%= bulk_action_item_ids.size %></span>
          of <%= bulk_action_total_items %> <%= "person".pluralize(bulk_action_total_items) %>
        </span>
      </div>
      <button
        type="button"
        class="btn btn-outline-primary btn-sm"
        data-action="click->bulk-actionable#selectAll">
        <i class="bi bi-check-all me-1"></i>
        Select All <%= bulk_action_total_items %> <%= "person".pluralize(bulk_action_total_items) %>
      </button>

      <button
        type="button"
        class="btn btn-outline-secondary btn-sm"
        data-action="click->bulk-actionable#unselectAll">
        <i class="bi bi-x-square me-1"></i>
        Unselect All
      </button>

      <%= button_to bulk_destroy_people_path,
            method: :delete,
            data: { turbo_confirm: "Are you sure you want to delete selected people?" },
            class: "btn btn-danger btn-sm" do %>
        <i class="bi bi-trash me-1"></i>
        Delete Selected
      <% end %>
    </div>

  </div>

  <% if @scope.empty? %>
    <div class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
      <div class="text-center">
        <i class="bi bi-info-circle fs-1 text-muted mb-2"></i>
        <div class="fs-5 text-muted">Nothing to show yet.</div>
      </div>
    </div>
  <% end %>

  <% if @scope.any? && @people.empty? %>
    <div class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
      <div class="text-center">
        <i class="bi bi-info-circle fs-1 text-muted mb-2"></i>
        <div class="fs-5 text-muted">No people found.</div>
      <div class="mt-3">
        <%= link_to people_path, class: "btn btn-outline-primary btn-sm" do %>
          <i class="bi bi-arrow-counterclockwise me-1"></i>
          Reset Filter
        <% end %>
      </div>
      </div>
    </div>
  <% end %>


  <div id="people" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% @people.each do |person| %>
      <div class="col">
        <div class="card h-100 shadow-sm border-0 rounded-3 bg-light">
          <div class="card-body">
            <div class="flex-grow-1">
              <%= render person %>

              <div class="">
                <%= link_to person, class: "btn btn-outline-primary btn-sm w-100" do %>
                  <i class="bi bi-eye me-1"></i>
                  View
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-3 d-flex justify-content-center">
    <%== @pagy.series_nav(:bootstrap) %>
  </div>
</div>
